In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\mrosk\OneDrive\Desktop\eda-visualization-country\data\world-data-2023.csv')

In [3]:
df.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887

In [4]:
df.shape

(195, 35)

In [5]:
df.dtypes

Country                                       object
Density\n(P/Km2)                              object
Abbreviation                                  object
Agricultural Land( %)                         object
Land Area(Km2)                                object
Armed Forces size                             object
Birth Rate                                   float64
Calling Code                                 float64
Capital/Major City                            object
Co2-Emissions                                 object
CPI                                           object
CPI Change (%)                                object
Currency-Code                                 object
Fertility Rate                               float64
Forested Area (%)                             object
Gasoline Price                                object
GDP                                           object
Gross primary education enrollment (%)        object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Largest city                                  object
Life expectancy                              float64
Maternal mortality ratio                     float64
Minimum wage                                  object
Official language                             object
Out of pocket health expenditure              object
Physicians per thousand                      float64
Population                                    object
Population: Labor force participation (%)     object
Tax revenue (%)                               object
Total tax rate                                object
Unemployment rate                             object
Urban_population                              object
Latitude                                     float64
Longitude                                    float64
dtype: object

In [6]:
df.isnull().sum()

Country                                       0
Density\n(P/Km2)                              0
Abbreviation                                  7
Agricultural Land( %)                         7
Land Area(Km2)                                1
Armed Forces size                            24
Birth Rate                                    6
Calling Code                                  1
Capital/Major City                            3
Co2-Emissions                                 7
CPI                                          17
CPI Change (%)                               16
Currency-Code                                15
Fertility Rate                                7
Forested Area (%)                             7
Gasoline Price                               20
GDP                                           2
Gross primary education enrollment (%)        7
Gross tertiary education enrollment (%)      12
Infant mortality                              6
Largest city                                  6
Life expectancy                               8
Maternal mortality ratio                     14
Minimum wage                                 45
Official language                             5
Out of pocket health expenditure              7
Physicians per thousand                       7
Population                                    1
Population: Labor force participation (%)    19
Tax revenue (%)                              26
Total tax rate                               12
Unemployment rate                            19
Urban_population                              5
Latitude                                      1
Longitude                                     1
dtype: int64

In [7]:
# Clean column names by removing spaces, replacing special characters, etc.
df.columns = df.columns.str.strip()  # Remove leading and trailing spaces
df.columns = df.columns.str.replace('%', 'percent', regex=False)  # Replace '%' with 'percent'
df.columns = df.columns.str.replace(' ', '_', regex=False)  # Replace spaces with underscores
df.columns = df.columns.str.replace('-', '_', regex=False)  # Replace hyphens with underscores
df.columns = df.columns.str.replace('(', '', regex=False).str.replace(')', '', regex=False)  # Remove parentheses

print(df.columns.tolist())

['Country', 'Density\nP/Km2', 'Abbreviation', 'Agricultural_Land_percent', 'Land_AreaKm2', 'Armed_Forces_size', 'Birth_Rate', 'Calling_Code', 'Capital/Major_City', 'Co2_Emissions', 'CPI', 'CPI_Change_percent', 'Currency_Code', 'Fertility_Rate', 'Forested_Area_percent', 'Gasoline_Price', 'GDP', 'Gross_primary_education_enrollment_percent', 'Gross_tertiary_education_enrollment_percent', 'Infant_mortality', 'Largest_city', 'Life_expectancy', 'Maternal_mortality_ratio', 'Minimum_wage', 'Official_language', 'Out_of_pocket_health_expenditure', 'Physicians_per_thousand', 'Population', 'Population:_Labor_force_participation_percent', 'Tax_revenue_percent', 'Total_tax_rate', 'Unemployment_rate', 'Urban_population', 'Latitude', 'Longitude']

In [8]:
columns_to_convert = [
    'Out_of_pocket_health_expenditure',
    'Population', 
    'Population:_Labor_force_participation_percent', 
    'Tax_revenue_percent', 
    'Total_tax_rate', 
    'Unemployment_rate', 
    'Urban_population',
    'Minimum_wage',
    'Forested_Area_percent',
    'Gasoline_Price',
    'GDP',
    'Gross_primary_education_enrollment_percent',
    'Gross_tertiary_education_enrollment_percent',
    'Co2_Emissions',
    'CPI',
    #'CPI_Change_percent',
    'Agricultural_Land_percent',
    'Land_AreaKm2',
    'Armed_Forces_size'
]

# Check for non-numeric values in each column before conversion
for col in columns_to_convert:
    non_numeric = df[col].apply(lambda x: isinstance(x, str) and not x.replace('.', '', 1).isdigit())
    if non_numeric.any():
        print(f"Non-numeric values in column {col}:")
        print(df.loc[non_numeric, col])

# Example: Cleaning up non-numeric characters (commas, spaces, etc.)
for col in columns_to_convert:
    df[col] = df[col].str.replace(',', '', regex=False)  # Remove commas
    df[col] = df[col].str.replace(' ', '', regex=False)  # Remove spaces
    df[col] = df[col].str.extract('(\d+\.?\d*)')  # Extract only numeric parts
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric

# Process CPI_Change_percent separately to retain negative values
df['CPI_Change_percent'] = df['CPI_Change_percent'].str.replace(',', '', regex=False)
df['CPI_Change_percent'] = df['CPI_Change_percent'].str.replace(' ', '', regex=False)
df['CPI_Change_percent'] = df['CPI_Change_percent'].str.extract(r'(-?\d+\.?\d*)')[0]  # Retain negative values
df['CPI_Change_percent'] = pd.to_numeric(df['CPI_Change_percent'], errors='coerce')

Non-numeric values in column Out_of_pocket_health_expenditure:
0      78.40%
1      56.90%
2      28.10%
3      36.40%
4      33.40%
        ...
190    45.80%
191    43.50%
192    81.00%
193    27.50%
194    25.80%
Name: Out_of_pocket_health_expenditure, Length: 188, dtype: object
Non-numeric values in column Population:
0      38,041,754
1       2,854,191
2      43,053,054
3          77,142
4      31,825,295
          ...
190    28,515,829
191    96,462,106
192    29,161,922
193    17,861,030
194    14,645,468
Name: Population, Length: 193, dtype: object
Non-numeric values in column Population:_Labor_force_participation_percent:
0      48.90%
1      55.70%
2      41.20%
4      77.50%
6      61.30%
        ...
190    59.70%
191    77.40%
192    38.00%
193    74.60%
194    83.10%
Name: Population:_Labor_force_participation_percent, Length: 176, dtype: object
Non-numeric values in column Tax_revenue_percent:
0       9.30%
1      18.60%
2      37.20%
4       9.20%
5      16.50%
        ...
188    14.80%
189    17.80%
191    19.10%
193    16.20%
194    20.70%
Name: Tax_revenue_percent, Length: 169, dtype: object
Non-numeric values in column Total_tax_rate:
0      71.40%
1      36.60%
2      66.10%
4      49.10%
5      43.00%
        ...
190    73.30%
191    37.60%
192    26.60%
193    15.60%
194    31.60%
Name: Total_tax_rate, Length: 183, dtype: object
Non-numeric values in column Unemployment_rate:
0      11.12%
1      12.33%
2      11.70%
4       6.89%
6       9.79%
        ...
190     8.80%
191     2.01%
192    12.91%
193    11.43%
194     4.95%
Name: Unemployment_rate, Length: 176, dtype: object
Non-numeric values in column Urban_population:
0       9,797,273
1       1,747,593
2      31,510,100
3          67,873
4      21,061,025
          ...
190    25,162,368
191    35,332,140
192    10,869,523
193     7,871,713
194     4,717,305
Name: Urban_population, Length: 190, dtype: object
Non-numeric values in column Minimum_wage:
0      $0.43
1      $1.12
2      $0.95
3      $6.63
4      $0.71
        ...
188    $0.24
189    $1.56
190    $0.01
191    $0.73
193    $0.24
Name: Minimum_wage, Length: 150, dtype: object
Non-numeric values in column Forested_Area_percent:
0       2.10%
1      28.10%
2       0.80%
3      34.00%
4      46.30%
        ...
190    52.70%
191    48.10%
192     1.00%
193    65.20%
194    35.50%
Name: Forested_Area_percent, Length: 188, dtype: object
Non-numeric values in column Gasoline_Price:
0      $0.70
1      $1.36
2      $0.28
3      $1.51
4      $0.97
        ...
190    $0.00
191    $0.80
192    $0.92
193    $1.40
194    $1.34
Name: Gasoline_Price, Length: 175, dtype: object
Non-numeric values in column GDP:
0       $19,101,353,833
1       $15,278,077,447
2      $169,988,236,398
3        $3,154,057,987
4       $94,635,415,870
             ...
190    $482,359,318,768
191    $261,921,244,843
192     $26,914,402,224
193     $23,064,722,446
194     $21,440,758,800
Name: GDP, Length: 193, dtype: object
Non-numeric values in column Gross_primary_education_enrollment_percent:
0      104.00%
1      107.00%
2      109.90%
3      106.40%
4      113.50%
        ...
190     97.20%
191    110.60%
192     93.60%
193     98.70%
194    109.90%
Name: Gross_primary_education_enrollment_percent, Length: 188, dtype: object
Non-numeric values in column Gross_tertiary_education_enrollment_percent:
0       9.70%
1      55.00%
2      51.40%
4       9.30%
5      24.80%
        ...
190    79.30%
191    28.50%
192    10.20%
193     4.10%
194    10.00%
Name: Gross_tertiary_education_enrollment_percent, Length: 183, dtype: object
Non-numeric values in column Co2_Emissions:
0        8,672
1        4,536
2      150,006
4       34,693
6      201,348
        ...
190    164,175
191    192,668
192     10,609
193      5,141
194     10,983
Name: Co2_Emissions, Length: 158, dtype: object
Non-numeric values in column CPI:
163    4,583.71
166    1,344.19
190    2,740.27
Name: CPI, dtype: object
Non-numeric values in column Agricultural_Land_percent:
0      58.10%
1      43.10%
2      17.40%
3      40.00%
4      47.50%
        ...
190    24.50%
191    39.30%
192    44.60%
193    32.10%
194    41.90%
Name: Agricultural_Land_percent, Length: 188, dtype: object
Non-numeric values in column Land_AreaKm2:
0        652,230
1         28,748
2      2,381,741
4      1,246,700
6      2,780,400
         ...
190      912,050
191      331,210
192      527,968
193      752,618
194      390,757
Name: Land_AreaKm2, Length: 169, dtype: object
Non-numeric values in column Armed_Forces_size:
0      323,000
1        9,000
2      317,000
4      117,000
6      105,000
        ...
190    343,000
191    522,000
192     40,000
193     16,000
194     51,000
Name: Armed_Forces_size, Length: 166, dtype: object

In [9]:
df.head()

,Country,Density\nP/Km2,Abbreviation,Agricultural_Land_percent,Land_AreaKm2,Armed_Forces_size,Birth_Rate,Calling_Code,Capital/Major_City,Co2_Emissions,...,Out_of_pocket_health_expenditure,Physicians_per_thousand,Population,Population:_Labor_force_participation_percent,Tax_revenue_percent,Total_tax_rate,Unemployment_rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,...,78.4,0.28,38041754.0,48.9,9.3,71.4,11.12,9797273.0,33.939110,67.709953
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,...,56.9,1.20,2854191.0,55.7,18.6,36.6,12.33,1747593.0,41.153332,20.168331
2,Algeria,18,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,...,28.1,1.72,43053054.0,41.2,37.2,66.1,11.70,31510100.0,28.033886,1.659626
3,Andorra,164,AD,40.0,468.0,NaN,7.20,376.0,Andorra la Vella,469.0,...,36.4,3.33,77142.0,NaN,NaN,NaN,NaN,67873.0,42.506285,1.521801
4,Angola,26,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,...,33.4,0.21,31825295.0,77.5,9.2,49.1,6.89,21061025.0,-11.202692,17.873887

In [10]:
df.dtypes

Country                                           object
Density\nP/Km2                                    object
Abbreviation                                      object
Agricultural_Land_percent                        float64
Land_AreaKm2                                     float64
Armed_Forces_size                                float64
Birth_Rate                                       float64
Calling_Code                                     float64
Capital/Major_City                                object
Co2_Emissions                                    float64
CPI                                              float64
CPI_Change_percent                               float64
Currency_Code                                     object
Fertility_Rate                                   float64
Forested_Area_percent                            float64
Gasoline_Price                                   float64
GDP                                              float64
Gross_primary_education_enrollment_percent       float64
Gross_tertiary_education_enrollment_percent      float64
Infant_mortality                                 float64
Largest_city                                      object
Life_expectancy                                  float64
Maternal_mortality_ratio                         float64
Minimum_wage                                     float64
Official_language                                 object
Out_of_pocket_health_expenditure                 float64
Physicians_per_thousand                          float64
Population                                       float64
Population:_Labor_force_participation_percent    float64
Tax_revenue_percent                              float64
Total_tax_rate                                   float64
Unemployment_rate                                float64
Urban_population                                 float64
Latitude                                         float64
Longitude                                        float64
dtype: object

In [11]:
df.rename(columns={'Density\nP/Km2': 'Density_P_Km2'}, inplace=True)

In [12]:
df['Density_P_Km2'] = pd.to_numeric(df['Density_P_Km2'].str.replace(',', '').str.strip(), errors='coerce')

In [13]:
df.isnull().sum()

Country                                           0
Density_P_Km2                                     0
Abbreviation                                      7
Agricultural_Land_percent                         7
Land_AreaKm2                                      1
Armed_Forces_size                                24
Birth_Rate                                        6
Calling_Code                                      1
Capital/Major_City                                3
Co2_Emissions                                     7
CPI                                              17
CPI_Change_percent                               16
Currency_Code                                    15
Fertility_Rate                                    7
Forested_Area_percent                             7
Gasoline_Price                                   20
GDP                                               2
Gross_primary_education_enrollment_percent        7
Gross_tertiary_education_enrollment_percent      12
Infant_mortality                                  6
Largest_city                                      6
Life_expectancy                                   8
Maternal_mortality_ratio                         14
Minimum_wage                                     45
Official_language                                 5
Out_of_pocket_health_expenditure                  7
Physicians_per_thousand                           7
Population                                        1
Population:_Labor_force_participation_percent    19
Tax_revenue_percent                              26
Total_tax_rate                                   12
Unemployment_rate                                19
Urban_population                                  5
Latitude                                          1
Longitude                                         1
dtype: int64

In [14]:
df['Calling_Code'] = df['Calling_Code'].astype(str)

In [15]:
# Dictionary mapping country names to their two-letter codes
missing_codes = {
    'Republic of the Congo': 'CG',
    'Eswatini': 'SZ',
    'Vatican City': 'VA',
    'Republic of Ireland': 'IE',
    'Namibia': 'NA',
    'North Macedonia': 'MK',
    'Palestinian National Authority': 'PS'
}


# Update the 'Abbreviation' column for the specified countries
for country, code in missing_codes.items():
    df.loc[df['Country'] == country, 'Abbreviation'] = code

# Verify the update
print(df[df['Country'].isin(missing_codes.keys())][['Country', 'Abbreviation']])

                            Country Abbreviation
39            Republic of the Congo           CG
56                         Eswatini           SZ
73                     Vatican City           VA
81              Republic of Ireland           IE
119                         Namibia           NA
128                 North Macedonia           MK
133  Palestinian National Authority           PS

In [16]:
# Check the percentage of missing values in each numerical column
missing_data = df.isnull().mean() * 100
print(missing_data[missing_data > 0].sort_values(ascending=False))

Minimum_wage                                     23.076923
Tax_revenue_percent                              13.333333
Armed_Forces_size                                12.307692
Gasoline_Price                                   10.256410
Unemployment_rate                                 9.743590
Population:_Labor_force_participation_percent     9.743590
CPI                                               8.717949
CPI_Change_percent                                8.205128
Currency_Code                                     7.692308
Maternal_mortality_ratio                          7.179487
Gross_tertiary_education_enrollment_percent       6.153846
Total_tax_rate                                    6.153846
Life_expectancy                                   4.102564
Physicians_per_thousand                           3.589744
Agricultural_Land_percent                         3.589744
Gross_primary_education_enrollment_percent        3.589744
Out_of_pocket_health_expenditure                  3.589744
Fertility_Rate                                    3.589744
Co2_Emissions                                     3.589744
Forested_Area_percent                             3.589744
Infant_mortality                                  3.076923
Largest_city                                      3.076923
Birth_Rate                                        3.076923
Official_language                                 2.564103
Urban_population                                  2.564103
Capital/Major_City                                1.538462
GDP                                               1.025641
Population                                        0.512821
Land_AreaKm2                                      0.512821
Latitude                                          0.512821
Longitude                                         0.512821
dtype: float64

In [17]:
df['Missing_Percentage'] = df.isnull().mean(axis = 1 ) * 100

df_sorted = df.sort_values(by='Missing_Percentage', ascending = False)

df_sorted[['Country','Missing_Percentage']].head(50)

                              Country  Missing_Percentage
133    Palestinian National Authority           80.000000
73                       Vatican City           68.571429
120                             Nauru           65.714286
128                   North Macedonia           60.000000
56                           Eswatini           60.000000
113                            Monaco           42.857143
181                            Tuvalu           40.000000
98                      Liechtenstein           31.428571
3                             Andorra           28.571429
149                        San Marino           20.000000
127                       North Korea           17.142857
163                       South Sudan           17.142857
107                  Marshall Islands           17.142857
89                           Kiribati           17.142857
42                               Cuba           14.285714
145             Saint Kitts and Nevis           14.285714
132                             Palau           14.285714
150                      Sï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½           14.285714
160                           Somalia           14.285714
48                           Dominica           14.285714
111    Federated States of Micronesia           14.285714
67                            Grenada           11.428571
54                            Eritrea           11.428571
180                      Turkmenistan           11.428571
38                            Comoros            8.571429
97                              Libya            8.571429
24                             Brunei            8.571429
154                        Seychelles            8.571429
156                         Singapore            8.571429
159                   Solomon Islands            8.571429
176                             Tonga            8.571429
119                           Namibia            5.714286
134                            Panama            5.714286
104                          Maldives            5.714286
146                       Saint Lucia            5.714286
147  Saint Vincent and the Grenadines            5.714286
85                              Japan            5.714286
188                        Uzbekistan            5.714286
192                             Yemen            5.714286
47                           Djibouti            5.714286
194                          Zimbabwe            5.714286
30                           Cambodia            5.714286
5                 Antigua and Barbuda            5.714286
20                            Bolivia            2.857143
168                            Sweden            2.857143
70                      Guinea-Bissau            2.857143
72                              Haiti            2.857143
33           Central African Republic            2.857143
76                            Iceland            2.857143
115                        Montenegro            2.857143

In [18]:
df['Country'] = df['Country'].str.replace("Sï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½", "Sao Tome and Principe")

In [19]:
df['Country'] = df['Country'].str.replace("East Timor", "Timor-Leste")

In [20]:
df.loc[df['Country'] == 'Timor-Leste']

,Country,Density_P_Km2,Abbreviation,Agricultural_Land_percent,Land_AreaKm2,Armed_Forces_size,Birth_Rate,Calling_Code,Capital/Major_City,Co2_Emissions,...,Physicians_per_thousand,Population,Population:_Labor_force_participation_percent,Tax_revenue_percent,Total_tax_rate,Unemployment_rate,Urban_population,Latitude,Longitude,Missing_Percentage
174,Timor-Leste,89,TL,25.6,14874.0,2000.0,29.42,670.0,Dili,495.0,...,0.72,3500000.0,67.3,25.0,17.3,4.55,400182.0,-8.874217,125.727539,0.0

In [21]:
import pycountry_convert as pc
import pycountry

In [22]:
# Function to convert alpha-2 code to continent
def get_continent_from_alpha2(alpha2_code):
    try:
        # Convert alpha-2 code to continent code
        continent_code = pc.country_alpha2_to_continent_code(alpha2_code)
        # Convert continent code to continent name
        continent_name = pc.convert_continent_code_to_continent_name(continent_code)
        return continent_name
    except Exception as e:
        return None  # Return None if the country code is not found or valid

# Apply the function to create the continent column using the Abbreviation column
df['Continent'] = df['Abbreviation'].apply(get_continent_from_alpha2)

# Verify the results
print(df[['Abbreviation', 'Continent']].head(10))

  Abbreviation      Continent
0           AF           Asia
1           AL         Europe
2           DZ         Africa
3           AD         Europe
4           AO         Africa
5           AG  North America
6           AR  South America
7           AM           Asia
8           AU        Oceania
9           AT         Europe

In [23]:
df['Continent'].value_counts()

Continent
Africa           54
Asia             47
Europe           43
North America    23
Oceania          14
South America    12
Name: count, dtype: int64

In [24]:
numerical_columns_median = [
    'Minimum_wage', 'Tax_revenue_percent', 'Armed_Forces_size', 'Gasoline_Price', 
    'Unemployment_rate', 'Population:_Labor_force_participation_percent', 
    'CPI', 'CPI_Change_percent', 'Maternal_mortality_ratio', 
    'Gross_tertiary_education_enrollment_percent', 'Total_tax_rate', 
    'Life_expectancy', 'Physicians_per_thousand', 'Agricultural_Land_percent', 
    'Gross_primary_education_enrollment_percent', 'Out_of_pocket_health_expenditure', 
    'Fertility_Rate', 'Co2_Emissions', 'Forested_Area_percent', 
    'Infant_mortality', 'Birth_Rate', 'Urban_population', 
    'GDP', 'Population', 'Land_AreaKm2'
]

In [25]:
df.loc[df['Country'] == 'Timor-Leste', 'Continent'] = 'Asia'
df.loc[df['Country'] == 'Vatican City', 'Continent'] = 'Europe'

for col in numerical_columns_median:
    df[col] = df.groupby('Continent')[col].transform(lambda x : x.fillna(x.median()))

print(df.isnull().sum())

Country                                           0
Density_P_Km2                                     0
Abbreviation                                      0
Agricultural_Land_percent                         0
Land_AreaKm2                                      0
Armed_Forces_size                                 0
Birth_Rate                                        0
Calling_Code                                      0
Capital/Major_City                                3
Co2_Emissions                                     0
CPI                                               0
CPI_Change_percent                                0
Currency_Code                                    15
Fertility_Rate                                    0
Forested_Area_percent                             0
Gasoline_Price                                    0
GDP                                               0
Gross_primary_education_enrollment_percent        0
Gross_tertiary_education_enrollment_percent       0
Infant_mortality                                  0
Largest_city                                      6
Life_expectancy                                   0
Maternal_mortality_ratio                          0
Minimum_wage                                      0
Official_language                                 5
Out_of_pocket_health_expenditure                  0
Physicians_per_thousand                           0
Population                                        0
Population:_Labor_force_participation_percent     0
Tax_revenue_percent                               0
Total_tax_rate                                    0
Unemployment_rate                                 0
Urban_population                                  0
Latitude                                          1
Longitude                                         1
Missing_Percentage                                0
Continent                                         0
dtype: int64

In [26]:
df['Continent'].isnull().sum()

0

In [27]:
df[df['Continent'].isnull()]

Empty DataFrame
Columns: [Country, Density_P_Km2, Abbreviation, Agricultural_Land_percent, Land_AreaKm2, Armed_Forces_size, Birth_Rate, Calling_Code, Capital/Major_City, Co2_Emissions, CPI, CPI_Change_percent, Currency_Code, Fertility_Rate, Forested_Area_percent, Gasoline_Price, GDP, Gross_primary_education_enrollment_percent, Gross_tertiary_education_enrollment_percent, Infant_mortality, Largest_city, Life_expectancy, Maternal_mortality_ratio, Minimum_wage, Official_language, Out_of_pocket_health_expenditure, Physicians_per_thousand, Population, Population:_Labor_force_participation_percent, Tax_revenue_percent, Total_tax_rate, Unemployment_rate, Urban_population, Latitude, Longitude, Missing_Percentage, Continent]
Index: []

[0 rows x 37 columns]

In [28]:
df

,Country,Density_P_Km2,Abbreviation,Agricultural_Land_percent,Land_AreaKm2,Armed_Forces_size,Birth_Rate,Calling_Code,Capital/Major_City,Co2_Emissions,...,Population,Population:_Labor_force_participation_percent,Tax_revenue_percent,Total_tax_rate,Unemployment_rate,Urban_population,Latitude,Longitude,Missing_Percentage,Continent
0,Afghanistan,60,AF,58.1,652230.0,323000.0,32.49,93.0,Kabul,8672.0,...,38041754.0,48.90,9.3,71.4,11.120,9797273.0,33.939110,67.709953,0.000000,Asia
1,Albania,105,AL,43.1,28748.0,9000.0,11.78,355.0,Tirana,4536.0,...,2854191.0,55.70,18.6,36.6,12.330,1747593.0,41.153332,20.168331,0.000000,Europe
2,Algeria,18,DZ,17.4,2381741.0,317000.0,24.28,213.0,Algiers,150006.0,...,43053054.0,41.20,37.2,66.1,11.700,31510100.0,28.033886,1.659626,0.000000,Africa
3,Andorra,164,AD,40.0,468.0,27500.0,7.20,376.0,Andorra la Vella,469.0,...,77142.0,58.95,20.6,38.4,5.235,67873.0,42.506285,1.521801,28.571429,Europe
4,Angola,26,AO,47.5,1246700.0,117000.0,40.73,244.0,Luanda,34693.0,...,31825295.0,77.50,9.2,49.1,6.890,21061025.0,-11.202692,17.873887,0.000000,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,912050.0,343000.0,17.88,58.0,Caracas,164175.0,...,28515829.0,59.70,14.4,73.3,8.800,25162368.0,6.423750,-66.589730,2.857143,South America
191,Vietnam,314,VN,39.3,331210.0,522000.0,16.75,84.0,Hanoi,192668.0,...,96462106.0,77.40,19.1,37.6,2.010,35332140.0,14.058324,108.277199,0.000000,Asia
192,Yemen,56,YE,44.6,527968.0,40000.0,30.45,967.0,Sanaa,10609.0,...,29161922.0,38.00,13.1,26.6,12.910,10869523.0,15.552727,48.516388,5.714286,Asia
193,Zambia,25,ZM,32.1,752618.0,16000.0,36.19,260.0,Lusaka,5141.0,...,17861030.0,74.60,16.2,15.6,11.430,7871713.0,-13.133897,27.849332,0.000000,Africa
194,Zimbabwe,38,ZW,41.9,390757.0,51000.0,30.68,263.0,Harare,10983.0,...,14645468.0,83.10,20.7,31.6,4.950,4717305.0,-19.015438,29.154857,5.714286,Africa

In [29]:
df.isnull().sum()

Country                                           0
Density_P_Km2                                     0
Abbreviation                                      0
Agricultural_Land_percent                         0
Land_AreaKm2                                      0
Armed_Forces_size                                 0
Birth_Rate                                        0
Calling_Code                                      0
Capital/Major_City                                3
Co2_Emissions                                     0
CPI                                               0
CPI_Change_percent                                0
Currency_Code                                    15
Fertility_Rate                                    0
Forested_Area_percent                             0
Gasoline_Price                                    0
GDP                                               0
Gross_primary_education_enrollment_percent        0
Gross_tertiary_education_enrollment_percent       0
Infant_mortality                                  0
Largest_city                                      6
Life_expectancy                                   0
Maternal_mortality_ratio                          0
Minimum_wage                                      0
Official_language                                 5
Out_of_pocket_health_expenditure                  0
Physicians_per_thousand                           0
Population                                        0
Population:_Labor_force_participation_percent     0
Tax_revenue_percent                               0
Total_tax_rate                                    0
Unemployment_rate                                 0
Urban_population                                  0
Latitude                                          1
Longitude                                         1
Missing_Percentage                                0
Continent                                         0
dtype: int64

In [30]:
# Check if the country is correctly identified in the dataset
# Correct latitude and longitude for SÃ£o TomÃ© and PrÃ­ncipe
df.loc[df['Country'] == 'Sao Tome and Principe', 'Latitude'] = 0.1864
df.loc[df['Country'] == 'Sao Tome and Principe', 'Longitude'] = 6.6131

# Verify the update
print(df[df['Country'] == 'Sao Tome and Principe'][['Country', 'Latitude', 'Longitude']])

                   Country  Latitude  Longitude
150  Sao Tome and Principe    0.1864     6.6131

In [31]:
df.isnull().sum()

Country                                           0
Density_P_Km2                                     0
Abbreviation                                      0
Agricultural_Land_percent                         0
Land_AreaKm2                                      0
Armed_Forces_size                                 0
Birth_Rate                                        0
Calling_Code                                      0
Capital/Major_City                                3
Co2_Emissions                                     0
CPI                                               0
CPI_Change_percent                                0
Currency_Code                                    15
Fertility_Rate                                    0
Forested_Area_percent                             0
Gasoline_Price                                    0
GDP                                               0
Gross_primary_education_enrollment_percent        0
Gross_tertiary_education_enrollment_percent       0
Infant_mortality                                  0
Largest_city                                      6
Life_expectancy                                   0
Maternal_mortality_ratio                          0
Minimum_wage                                      0
Official_language                                 5
Out_of_pocket_health_expenditure                  0
Physicians_per_thousand                           0
Population                                        0
Population:_Labor_force_participation_percent     0
Tax_revenue_percent                               0
Total_tax_rate                                    0
Unemployment_rate                                 0
Urban_population                                  0
Latitude                                          0
Longitude                                         0
Missing_Percentage                                0
Continent                                         0
dtype: int64

In [32]:
# Check for missing values in the 'Official_language' column
missing_official_language = df[df['Official_language'].isnull()]
print("Rows with missing Official Language:")
print(missing_official_language[['Country', 'Continent', 'Official_language']])

# Check for missing values in the 'Currency_Code' column
missing_currency_code = df[df['Currency_Code'].isnull()]
print("\nRows with missing Currency Code:")
print(missing_currency_code[['Country', 'Continent', 'Currency_Code']])

# Check for missing values in the 'Capital/Major_City' column
missing_capital_city = df[df['Capital/Major_City'].isnull()]
print("\nRows with missing Capital/Major City:")
print(missing_capital_city[['Country', 'Continent', 'Capital/Major_City']])

Rows with missing Official Language:
                   Country      Continent Official_language
8                Australia        Oceania               NaN
85                   Japan           Asia               NaN
110                 Mexico  North America               NaN
150  Sao Tome and Principe         Africa               NaN
186          United States  North America               NaN

Rows with missing Currency Code:
                            Country      Continent Currency_Code
11                      The Bahamas  North America           NaN
19                           Bhutan           Asia           NaN
30                         Cambodia           Asia           NaN
33         Central African Republic         Africa           NaN
52                      El Salvador  North America           NaN
56                         Eswatini         Africa           NaN
85                            Japan           Asia           NaN
95                          Lesotho         Africa           NaN
96                          Liberia         Africa           NaN
104                        Maldives           Asia           NaN
119                         Namibia         Africa           NaN
122                     Netherlands         Europe           NaN
133  Palestinian National Authority           Asia           NaN
134                          Panama  North America           NaN
194                        Zimbabwe         Africa           NaN

Rows with missing Capital/Major City:
                            Country Continent Capital/Major_City
97                            Libya    Africa                NaN
133  Palestinian National Authority      Asia                NaN
156                       Singapore      Asia                NaN

In [33]:
# Update the Capital/Major City for Palestine
df.loc[df['Country'] == 'Palestinian National Authority', 'Capital/Major_City'] = 'Ramallah'

# Update the Capital/Major City for Singapore
df.loc[df['Country'] == 'Singapore', 'Capital/Major_City'] = 'Singapore'

# Optionally, check if the updates were successful
updated_rows = df[df['Country'].isin(['Palestinian National Authority', 'Singapore'])]
print(updated_rows[['Country', 'Capital/Major_City']])

                            Country Capital/Major_City
133  Palestinian National Authority           Ramallah
156                       Singapore          Singapore

In [34]:
# Update the Official Language for Australia
df.loc[df['Country'] == 'Australia', 'Official_language'] = 'English'

# Update the Official Language for Japan
df.loc[df['Country'] == 'Japan', 'Official_language'] = 'Japanese'

# Update the Official Language for Mexico
df.loc[df['Country'] == 'Mexico', 'Official_language'] = 'Spanish'

# Update the Official Language for Sao Tome and Principe
df.loc[df['Country'] == 'Sao Tome and Principe', 'Official_language'] = 'Portuguese'

# Update the Official Language for the United States
df.loc[df['Country'] == 'United States', 'Official_language'] = 'English'

# Optionally, check if the updates were successful
updated_languages = df[df['Country'].isin(['Australia', 'Japan', 'Mexico', 'Sao Tome and Principe', 'United States'])]
print(updated_languages[['Country', 'Official_language']])

                   Country Official_language
8                Australia           English
85                   Japan          Japanese
110                 Mexico           Spanish
150  Sao Tome and Principe        Portuguese
186          United States           English

In [35]:
# Update the Currency Code for The Bahamas
df.loc[df['Country'] == 'The Bahamas', 'Currency_Code'] = 'BSD'

# Update the Currency Code for Bhutan
df.loc[df['Country'] == 'Bhutan', 'Currency_Code'] = 'BTN'

# Update the Currency Code for Cambodia
df.loc[df['Country'] == 'Cambodia', 'Currency_Code'] = 'KHR'

# Update the Currency Code for Central African Republic
df.loc[df['Country'] == 'Central African Republic', 'Currency_Code'] = 'XAF'

# Update the Currency Code for El Salvador
df.loc[df['Country'] == 'El Salvador', 'Currency_Code'] = 'USD'

# Update the Currency Code for Eswatini
df.loc[df['Country'] == 'Eswatini', 'Currency_Code'] = 'SZL'

# Update the Currency Code for Japan
df.loc[df['Country'] == 'Japan', 'Currency_Code'] = 'JPY'

# Update the Currency Code for Lesotho
df.loc[df['Country'] == 'Lesotho', 'Currency_Code'] = 'LSL'

# Update the Currency Code for Liberia
df.loc[df['Country'] == 'Liberia', 'Currency_Code'] = 'LRD'

# Update the Currency Code for Maldives
df.loc[df['Country'] == 'Maldives', 'Currency_Code'] = 'MVR'

# Update the Currency Code for Namibia
df.loc[df['Country'] == 'Namibia', 'Currency_Code'] = 'NAD'

# Update the Currency Code for Netherlands
df.loc[df['Country'] == 'Netherlands', 'Currency_Code'] = 'EUR'

# Update the Currency Code for Palestinian National Authority
df.loc[df['Country'] == 'Palestinian National Authority', 'Currency_Code'] = 'ILS'

# Update the Currency Code for Panama
df.loc[df['Country'] == 'Panama', 'Currency_Code'] = 'PAB'

# Update the Currency Code for Zimbabwe
df.loc[df['Country'] == 'Zimbabwe', 'Currency_Code'] = 'ZWL'

# Optionally, check if the updates were successful
updated_currencies = df[df['Country'].isin(['The Bahamas', 'Bhutan', 'Cambodia', 'Central African Republic', 
                                            'El Salvador', 'Eswatini', 'Japan', 'Lesotho', 'Liberia', 
                                            'Maldives', 'Namibia', 'Netherlands', 'Palestinian National Authority', 
                                            'Panama', 'Zimbabwe'])]
print(updated_currencies[['Country', 'Currency_Code']])

                            Country Currency_Code
11                      The Bahamas           BSD
19                           Bhutan           BTN
30                         Cambodia           KHR
33         Central African Republic           XAF
52                      El Salvador           USD
56                         Eswatini           SZL
85                            Japan           JPY
95                          Lesotho           LSL
96                          Liberia           LRD
104                        Maldives           MVR
119                         Namibia           NAD
122                     Netherlands           EUR
133  Palestinian National Authority           ILS
134                          Panama           PAB
194                        Zimbabwe           ZWL

In [36]:
df.isnull().sum()

Country                                          0
Density_P_Km2                                    0
Abbreviation                                     0
Agricultural_Land_percent                        0
Land_AreaKm2                                     0
Armed_Forces_size                                0
Birth_Rate                                       0
Calling_Code                                     0
Capital/Major_City                               1
Co2_Emissions                                    0
CPI                                              0
CPI_Change_percent                               0
Currency_Code                                    0
Fertility_Rate                                   0
Forested_Area_percent                            0
Gasoline_Price                                   0
GDP                                              0
Gross_primary_education_enrollment_percent       0
Gross_tertiary_education_enrollment_percent      0
Infant_mortality                                 0
Largest_city                                     6
Life_expectancy                                  0
Maternal_mortality_ratio                         0
Minimum_wage                                     0
Official_language                                0
Out_of_pocket_health_expenditure                 0
Physicians_per_thousand                          0
Population                                       0
Population:_Labor_force_participation_percent    0
Tax_revenue_percent                              0
Total_tax_rate                                   0
Unemployment_rate                                0
Urban_population                                 0
Latitude                                         0
Longitude                                        0
Missing_Percentage                               0
Continent                                        0
dtype: int64

In [37]:
# Update the Capital/Major City for Libya
df.loc[df['Country'] == 'Libya', 'Capital/Major_City'] = 'Tripoli'

# Optionally, check if the update was successful
libya_capital = df[df['Country'] == 'Libya'][['Country', 'Capital/Major_City']]
print(libya_capital)

   Country Capital/Major_City
97   Libya            Tripoli

In [38]:
# Check for missing values in the 'Largest_city' column
missing_largest_city = df[df['Largest_city'].isnull()]
print("Rows with missing Largest City:")
print(missing_largest_city[['Country', 'Continent', 'Largest_city']])

Rows with missing Largest City:
                            Country Continent Largest_city
24                           Brunei      Asia          NaN
73                     Vatican City    Europe          NaN
97                            Libya    Africa          NaN
120                           Nauru   Oceania          NaN
133  Palestinian National Authority      Asia          NaN
156                       Singapore      Asia          NaN

In [39]:
# Update the Largest City for Brunei
df.loc[df['Country'] == 'Brunei', 'Largest_city'] = 'Bandar Seri Begawan'

# Update the Largest City for Vatican City
df.loc[df['Country'] == 'Vatican City', 'Largest_city'] = 'Vatican City'

# Update the Largest City for Libya
df.loc[df['Country'] == 'Libya', 'Largest_city'] = 'Tripoli'

# Update the Largest City for Nauru
df.loc[df['Country'] == 'Nauru', 'Largest_city'] = 'Yaren'

# Update the Largest City for Palestinian National Authority
df.loc[df['Country'] == 'Palestinian National Authority', 'Largest_city'] = 'Gaza'

# Update the Largest City for Singapore
df.loc[df['Country'] == 'Singapore', 'Largest_city'] = 'Singapore'

# Optionally, check if the updates were successful
updated_largest_cities = df[df['Country'].isin(['Brunei', 'Vatican City', 'Libya', 'Nauru', 'Palestinian National Authority', 'Singapore'])]
print(updated_largest_cities[['Country', 'Largest_city']])

                            Country         Largest_city
24                           Brunei  Bandar Seri Begawan
73                     Vatican City         Vatican City
97                            Libya              Tripoli
120                           Nauru                Yaren
133  Palestinian National Authority                 Gaza
156                       Singapore            Singapore

In [40]:
df.isnull().sum()

Country                                          0
Density_P_Km2                                    0
Abbreviation                                     0
Agricultural_Land_percent                        0
Land_AreaKm2                                     0
Armed_Forces_size                                0
Birth_Rate                                       0
Calling_Code                                     0
Capital/Major_City                               0
Co2_Emissions                                    0
CPI                                              0
CPI_Change_percent                               0
Currency_Code                                    0
Fertility_Rate                                   0
Forested_Area_percent                            0
Gasoline_Price                                   0
GDP                                              0
Gross_primary_education_enrollment_percent       0
Gross_tertiary_education_enrollment_percent      0
Infant_mortality                                 0
Largest_city                                     0
Life_expectancy                                  0
Maternal_mortality_ratio                         0
Minimum_wage                                     0
Official_language                                0
Out_of_pocket_health_expenditure                 0
Physicians_per_thousand                          0
Population                                       0
Population:_Labor_force_participation_percent    0
Tax_revenue_percent                              0
Total_tax_rate                                   0
Unemployment_rate                                0
Urban_population                                 0
Latitude                                         0
Longitude                                        0
Missing_Percentage                               0
Continent                                        0
dtype: int64

In [41]:
df[df['Capital/Major_City'].str.contains('ï¿½', na=False)]

,Country,Density_P_Km2,Abbreviation,Agricultural_Land_percent,Land_AreaKm2,Armed_Forces_size,Birth_Rate,Calling_Code,Capital/Major_City,Co2_Emissions,...,Population,Population:_Labor_force_participation_percent,Tax_revenue_percent,Total_tax_rate,Unemployment_rate,Urban_population,Latitude,Longitude,Missing_Percentage,Continent
23,Brazil,25,BR,33.9,8515770.0,730000.0,13.92,55.0,Brasï¿½ï¿½ï¿½,462299.0,...,212559417.0,63.9,14.2,65.1,12.08,183241641.0,-14.235004,-51.925280,0.000000,South America
31,Cameroon,56,CM,20.6,475440.0,24000.0,35.39,237.0,Yaoundï¿½,8291.0,...,25876380.0,76.1,12.8,57.7,3.38,14741256.0,7.369722,12.354722,0.000000,Africa
37,Colombia,46,CO,40.3,1138910.0,481000.0,14.88,57.0,Bogotï¿½,97814.0,...,50339443.0,68.8,14.4,71.2,9.71,40827302.0,4.570868,-74.297333,0.000000,South America
40,Costa Rica,100,CR,34.5,51100.0,10000.0,13.97,506.0,San Josï¿½ï¿½ï¿½ï¿½ï¿½ï¿½,8023.0,...,5047561.0,62.1,13.6,58.3,11.85,4041885.0,9.748917,-83.753428,0.000000,North America
76,Iceland,3,IS,18.7,103000.0,0.0,12.00,354.0,Reykjavï¿½ï¿½,2065.0,...,361313.0,75.0,23.3,31.9,2.84,339110.0,64.963051,-19.020835,2.857143,Europe
104,Maldives,1802,MV,26.3,298.0,5000.0,14.20,960.0,Malï¿½,1445.0,...,530953.0,69.8,19.5,30.2,6.14,213645.0,3.202778,73.220680,5.714286,Asia
112,Moldova,123,MD,74.2,33851.0,7000.0,10.10,373.0,Chiï¿½ï¿½ï¿½ï¿½,5115.0,...,2657637.0,43.1,17.7,38.7,5.47,1135502.0,47.411631,28.369885,0.000000,Europe
136,Paraguay,18,PY,55.1,406752.0,27000.0,20.57,595.0,Asunciï¿½ï¿½,7407.0,...,7044636.0,72.1,10.0,35.0,4.81,4359150.0,-23.442503,-58.443832,0.000000,South America
150,Sao Tome and Principe,228,ST,50.7,964.0,1000.0,31.54,239.0,Sï¿½ï¿½ï¿½ï¿½,121.0,...,215056.0,57.8,14.6,37.0,13.37,158277.0,0.186400,6.613100,14.285714,Africa
175,Togo,152,TG,70.2,56785.0,10000.0,33.11,228.0,Lomï¿½,3000.0,...,8082366.0,77.6,16.9,48.2,2.04,3414638.0,8.619543,0.824782,0.000000,Africa
176,Tonga,147,TO,45.8,747.0,6500.0,24.30,676.0,Nukuï¿½ï¿½ï¿½ï¿½,128.0,...,100209.0,59.8,22.3,27.5,1.12,24145.0,-21.178986,-175.198242,8.571429,Oceania

In [42]:
# Update the Capital/Major City for Brazil
df.loc[df['Country'] == 'Brazil', 'Capital/Major_City'] = 'BrasÃ­lia'

# Update the Capital/Major City for Cameroon
df.loc[df['Country'] == 'Cameroon', 'Capital/Major_City'] = 'YaoundÃ©'

# Update the Capital/Major City for Colombia
df.loc[df['Country'] == 'Colombia', 'Capital/Major_City'] = 'BogotÃ¡'

# Update the Capital/Major City for Costa Rica
df.loc[df['Country'] == 'Costa Rica', 'Capital/Major_City'] = 'San JosÃ©'

# Update the Capital/Major City for Iceland
df.loc[df['Country'] == 'Iceland', 'Capital/Major_City'] = 'Reykjavik'

# Update the Capital/Major City for Maldives
df.loc[df['Country'] == 'Maldives', 'Capital/Major_City'] = 'MalÃ©'

# Update the Capital/Major City for Moldova
df.loc[df['Country'] == 'Moldova', 'Capital/Major_City'] = 'ChiÈ™inÄƒu'

# Update the Capital/Major City for Paraguay
df.loc[df['Country'] == 'Paraguay', 'Capital/Major_City'] = 'AsunciÃ³n'

# Update the Capital/Major City for Sao Tome and Principe
df.loc[df['Country'] == 'Sao Tome and Principe', 'Capital/Major_City'] = 'SÃ£o TomÃ©'

# Update the Capital/Major City for Togo
df.loc[df['Country'] == 'Togo', 'Capital/Major_City'] = 'LomÃ©'

# Update the Capital/Major City for Tonga
df.loc[df['Country'] == 'Tonga', 'Capital/Major_City'] = 'NukuÊ»alofa'

# Optionally, check if the updates were successful
updated_capitals = df[df['Country'].isin(['Brazil', 'Cameroon', 'Colombia', 'Costa Rica', 'Iceland', 'Maldives', 'Moldova', 'Paraguay', 'Sao Tome and Principe', 'Togo', 'Tonga'])]
print(updated_capitals[['Country', 'Capital/Major_City']])

                   Country Capital/Major_City
23                  Brazil           BrasÃ­lia
31                Cameroon            YaoundÃ©
37                Colombia             BogotÃ¡
40              Costa Rica           San JosÃ©
76                 Iceland          Reykjavik
104               Maldives               MalÃ©
112                Moldova           ChiÈ™inÄƒu
136               Paraguay           AsunciÃ³n
150  Sao Tome and Principe           SÃ£o TomÃ©
175                   Togo               LomÃ©
176                  Tonga         NukuÊ»alofa

In [43]:
df[df['Capital/Major_City'].str.contains('ï¿½', na=False)]

Empty DataFrame
Columns: [Country, Density_P_Km2, Abbreviation, Agricultural_Land_percent, Land_AreaKm2, Armed_Forces_size, Birth_Rate, Calling_Code, Capital/Major_City, Co2_Emissions, CPI, CPI_Change_percent, Currency_Code, Fertility_Rate, Forested_Area_percent, Gasoline_Price, GDP, Gross_primary_education_enrollment_percent, Gross_tertiary_education_enrollment_percent, Infant_mortality, Largest_city, Life_expectancy, Maternal_mortality_ratio, Minimum_wage, Official_language, Out_of_pocket_health_expenditure, Physicians_per_thousand, Population, Population:_Labor_force_participation_percent, Tax_revenue_percent, Total_tax_rate, Unemployment_rate, Urban_population, Latitude, Longitude, Missing_Percentage, Continent]
Index: []

[0 rows x 37 columns]

In [44]:
# Identify rows where the Largest_city contains the ï¿½ character
largest_city_with_special_char = df[df['Largest_city'].str.contains('ï¿½', na=False)]

# Display the Country and Largest_city with the ï¿½ character
print(largest_city_with_special_char[['Country', 'Continent', 'Largest_city']])

                   Country      Continent   Largest_city
23                  Brazil  South America          Sï¿½ï¿½ï¿½ï¿½
37                Colombia  South America         Bogotï¿½
40              Costa Rica  North America  San Josï¿½ï¿½ï¿½ï¿½ï¿½ï¿½
43                  Cyprus           Asia  Statosï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½
76                 Iceland         Europe      Reykjavï¿½ï¿½
104               Maldives           Asia           Malï¿½
112                Moldova         Europe        Chiï¿½ï¿½ï¿½ï¿½
150  Sao Tome and Principe         Africa          Sï¿½ï¿½ï¿½ï¿½
168                 Sweden         Europe         Sï¿½ï¿½ï¿½ï¿½ï¿½
169            Switzerland         Europe           Zï¿½ï¿½ï¿½
175                   Togo         Africa           Lomï¿½
176                  Tonga        Oceania       Nukuï¿½ï¿½ï¿½ï¿½

In [45]:
# Update the Largest City for Brazil
df.loc[df['Country'] == 'Brazil', 'Largest_city'] = 'SÃ£o Paulo'

# Update the Largest City for Colombia
df.loc[df['Country'] == 'Colombia', 'Largest_city'] = 'BogotÃ¡'

# Update the Largest City for Costa Rica
df.loc[df['Country'] == 'Costa Rica', 'Largest_city'] = 'San JosÃ©'

# Update the Largest City for Cyprus
df.loc[df['Country'] == 'Cyprus', 'Largest_city'] = 'Nicosia'

# Update the Largest City for Iceland
df.loc[df['Country'] == 'Iceland', 'Largest_city'] = 'Reykjavik'

# Update the Largest City for Maldives
df.loc[df['Country'] == 'Maldives', 'Largest_city'] = 'MalÃ©'

# Update the Largest City for Moldova
df.loc[df['Country'] == 'Moldova', 'Largest_city'] = 'ChiÈ™inÄƒu'

# Update the Largest City for Sao Tome and Principe
df.loc[df['Country'] == 'Sao Tome and Principe', 'Largest_city'] = 'SÃ£o TomÃ©'

# Update the Largest City for Sweden
df.loc[df['Country'] == 'Sweden', 'Largest_city'] = 'Stockholm'

# Update the Largest City for Switzerland
df.loc[df['Country'] == 'Switzerland', 'Largest_city'] = 'Zurich'

# Update the Largest City for Togo
df.loc[df['Country'] == 'Togo', 'Largest_city'] = 'LomÃ©'

# Update the Largest City for Tonga
df.loc[df['Country'] == 'Tonga', 'Largest_city'] = 'NukuÊ»alofa'

# Optionally, check if the updates were successful
updated_largest_cities = df[df['Country'].isin(['Brazil', 'Colombia', 'Costa Rica', 'Cyprus', 'Iceland', 'Maldives', 'Moldova', 'Sao Tome and Principe', 'Sweden', 'Switzerland', 'Togo', 'Tonga'])]
print(updated_largest_cities[['Country', 'Largest_city']])

                   Country Largest_city
23                  Brazil    SÃ£o Paulo
37                Colombia       BogotÃ¡
40              Costa Rica     San JosÃ©
43                  Cyprus      Nicosia
76                 Iceland    Reykjavik
104               Maldives         MalÃ©
112                Moldova     ChiÈ™inÄƒu
150  Sao Tome and Principe     SÃ£o TomÃ©
168                 Sweden    Stockholm
169            Switzerland       Zurich
175                   Togo         LomÃ©
176                  Tonga   NukuÊ»alofa

In [46]:
df = df.drop(columns=['Missing_Percentage'])

In [47]:
df.to_csv('cleaned_global_country_data.csv', index = False)